.fluid-container{
    display: block; 
} 

.fluid-container .row .col-lg-1 a img{
    width:40px; 
    margin-left: 20px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    margin-top: 0px;
}
.navbar{
    display: flex;
    align-items: baseline;
}

.navbar a img{
    margin-left: 10px; 
    margin-right: 10px;
}

.navbar ul{
    flex: 1;
}

.navbar ul li{
   margin: 10px;
}

.navbar ul li a{
    margin: 10px;
 }

.row{
    display: flex; 
}

.border-right {
    border-right: 1px solid black;
    margin-block-end: 100px;
    margin-block-start: 30px;
}

.fluid-container div ul{
    background-color: whitesmoke; 
}

.fluid-container div ul li{
    min-height: 70px;
    align-content: space-around;
}

.footer{
    padding: 30px;
    background-color: slategray;
    display: flex;
}

.footer div{
    justify-content: flex-end;
}

.footer p{
    flex:1;
}

.footer ul li{
    background-color: slategray;
}

.footer ul li a{
    color: black;
}

