.NavBar {
  width: 10%;
  background-color: whitesmoke;
  border-right: 2px solid lightslategray ;
  border-right-style: hidden;
  height: 1000px;
  margin-block-end: 0px;
  position: fixed;
}


li {
  margin: 10px auto;
}

.logo {
  width: 80%;
  margin-left: 10%; 
}

.logo:hover {
  filter: opacity(90%);
}

.active {
  background-color: var(--green)!important;
  color: white;
}

.nav-link {
  color: var(--green);
}

.nav-link:hover {
  color: green;
}