.NavBar {
  width: 7%;
  background-color: whitesmoke;
}

li {
  margin: 10px auto;
}

.logo {
  width: 100%;
}

.logo:hover {
  filter: opacity(90%);
}

.active {
  background-color: var(--green)!important;
  color: white;
}

.nav-link {
  color: var(--green);
}

.nav-link:hover {
  color: green;
}