.App {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main {
    width: 90%;
    margin-left: 10%;
    height: 1000px;
    background-color: whitesmoke;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}

