.App {
    background-color: whitesmoke;
    height: 100vh;
}

.main {
    width: 90%;
    margin-left: 10%;
    background-color: whitesmoke;
    color: black;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}

